body{
	background-image:url(../image/unnes2.png);
	
	}
.header
{
	background-color: rgb(51,204,124);
	width: auto;
	height: 100px;

}

.div1a
{
	width: 300px;
	height: auto;
	padding: 10px;
}

.div1
{
	
	padding-top: 50px;
	padding-bottom: 50px;
	width: auto;
	height: auto;
	border-width: 4px;
	border-color: rgb(51,204,124);
	border-style: dashed;
}

.div1b
{
	
	padding-top: 50px;
	padding-bottom: 50px;
	width: auto;
	height: auto;
	border-width: 4px;
	border-color: rgb(51,204,124);
	border-style: dashed;
}

#div2
{
	padding: 10px;
	background-color: rgb(51,204,124);
	width: auto;
	height: auto;
}

.teks_header
{
	margin-top: 10px;
	margin-left: 25px;
	color: rgb(255,255,255);
	font-size: 19px;
}
.teks1
{
	color: rgb(255,255,255);

}

#teksa
{
	color: rgb(255,255,255);

}
#teksb
{
	color: rgb(255,255,255);

}
#teksc
{
	color: rgb(255,255,255);

}

.footerku
{
	margin-top: 20px;
	background-color: rgb(51,204,124);
	width: auto;
	height: 70px;
}

.imageku
{
	margin-top: 10px;
	margin-left: 10px;
}

.marginku
{
	margin-bottom: 50px;
}

.marginku2
{
	margin-bottom: 50px;
}

#marginku3
{
	margin-top: 50px;
}

.div4
{
	padding-top: 50px;
	padding-bottom: 50px;
	margin-left: 50px;
	margin-right: 50px;
	background-color: rgb(51,204,124);
	width: auto;
	height: auto;
}
#teks_pendaftaran
{
	color: rgb(255,255,255);
	font-size: 34px;
}

.teks_putih
{
	color: rgb(255,255,255);
}

.teks_putih
{
	color: rgb(255,255,255);

}

#jumbotronku
{
	float: left;
	width: 400px;
	background-color: rgb(51,204,124);
	color: rgb(255,255,255);
	/*background-color: rgb(116,219,83);*/
}

#sidebar
{
	color: rgb(255,255,255);
	font-size: 17px;
}

#tabelku
{
	width: 500px;
	font-size: 20px;
}

#margin_panel
{
	margin-left: 20px;
	margin-right: 20px;
}

#aksi
{
	width: 200px;
}

#aksi_judul
{
	margin-bottom: 50px;
	font-size: 30px;
}

.border_aksi
{
	
	padding: 10px;
	width: 500px;
	height: auto;
	border-width: 3px;
	border-color: rgb(51,204,124);
	border-style: dashed;
}

.margin_aksi
{
	margin-left: 20px;
}

.teks_footer
{
	margin-top: 35px;
	font-size: 20px;
	color: rgb(255,255,255);
}

.div_panduan
{
	padding: 30px;
}